<html lang="en">
  <!-- includes the head -->
  <%- include('./partials/head') %>
  <body>
    <!-- includes the nav -->
    <%- include('./partials/nav') %>
    <!-- Shows the table of items in the database -->
    <h1>Items</h1>
    <div class="itemsContent">
      <table border="1px solid black">
        <!-- Table headers -->
        <tr>
          <th>Item ID</th>
          <th>Item Name</th>
          <th>Membership Requirement</th>
          <th>Tradeable</th>
          <th>Equipment Slot</th>
          <th>Catagory</th>
        </tr>
      <!-- Loops through the items array and displays the item information -->
      <% if(items.length > 0) { %>
        <% items.forEach(item => { %>
          <tr>
            <td><%= item.item_id %></td>
            <td><%= item.item_name %></td>
            <td><%= item.membership_requirement %></td>
            <td><%= item.tradeable %></td>
            <!-- If the equipment slot is null, display N/A -->
            <% if(item.equipment_slot === null) { %>
              <td><%= "N/A" %></td>
            <% } else { %>
              <td><%= item.equipment_slot %></td>
            <% } %> 
            <td><%= item.catagory %></td>
        <% }) %>
      <% } else { %>
        <!-- If there are no items in the database, display "No Items" -->
        <tr>
          <td>No Items</td>
        </tr>
      <% } %>
      </table>
    </div>
    <br>

    <!-- Adds a status to update the user -->
    <%- include('./partials/status') %>

    <!-- Form to add an item to the database -->
    <form action="/items" method="post">
      <h3>Add Item:</h3>
      <!-- Gets the itemID as text field -->
      <label>Item ID:
        <input type="text" id="itemID" name="itemID" value="<%= locals.itemID %>" required>
      </label>
      <br>
      <!-- Gets the itemName as text field -->
      <label>Item Name:
        <input type="text" id="itemName" name="itemName" value="<%= locals.itemName %>" required>
      </label>
      <br>
      <!-- Gets the membershipReq as checks boxes -->
      <label>Membership Required:
        <input type="checkbox" id="membershipReq" name="membershipReq" value="on"<%= locals.membershipReq ? 'checked' : '' %>>
        <input type="hidden" name="membershipReq" value="off" >
      </label>
      <br>
      <!-- Gets the tradeable as checks boxes -->
      <label>Tradeable:
        <input type="checkbox" id="tradeable" name="tradeable" value="on"<%= locals.tradeable ? 'checked' : '' %>>
        <input type="hidden" name="tradeable" value="off" >
      </label>
      <br>
      <!-- Gets the equipmentSlot as a dropdown -->
      <label>Equipment Slot:</label>
        <select name="equipmentSlot" id="equipmentSlot" required>
          <option disabled selected value="">Select Option</option>
          <option value="notEquipable" <%= locals.equipmentSlot %>>Not Equipable</option>
          <option value="head" <%= locals.equipmentSlot %>>Head</option>
          <option value="cape" <%= locals.equipmentSlot %>>Cape</option>
          <option value="neck" <%= locals.equipmentSlot %>>Neck</option>
          <option value="ammo" <%= locals.equipmentSlot %>>Ammo</option>
          <option value="weapon" <%= locals.equipmentSlot %>>Weapon</option>
          <option value="body" <%= locals.equipmentSlot %>>Body</option>
          <option value="hands" <%= locals.equipmentSlot %>>Hands</option>
          <option value="feet" <%= locals.equipmentSlot %>>Feet</option>
          <option value="ring" <%= locals.equipmentSlot %>>Ring</option>
        </select>
      <br>
      <!-- Gets the catagory as a dropdown -->
      <label>Catagory:</label>
        <select name="catagory" id="catagory" required>
          <option disabled selected value="">Select Option</option>
          <option value="weapon" <%= locals.catagory %>>Weapon</option>
          <option value="armor" <%= locals.catagory %>>Armor</option>
          <option value="log" <%= locals.catagory %>>Log</option>
          <option value="ore" <%= locals.catagory %>>Ore</option>
          <option value="potion" <%= locals.catagory %>>Potion</option>
          <option value="food" <%= locals.catagory %>>Food</option>
          <option value="ingot" <%= locals.catagory %>>Ingot</option>
          <option value="crafting" <%= locals.catagory %>>Crafting</option>
          <option value="rune" <%= locals.catagory %>>Rune</option>
        </select>
      <br>
      <!-- Submit button -->
      <button>Submit</button>
    </form>
    <br>
    <!-- includes the footer -->
    <%- include('./partials/footer') %>
</html>