<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>
    <div class="itemInfo">
      <h2><% if(item) { %><%= item.item_name %></h2>
        <p><span class="itemHeader">Item ID:</span> <%= item.item_id %></p>
        <p><span class="itemHeader">Membership:</span> <%= item.membership_requirement %></p>
        <p><span class="itemHeader">Tradeable:</span> <%= item.tradeable %></p>
        <% if (item.equipment_slot === null) { %>
          <p><span class="itemHeader">Equipment Slot:</span> N/A</p>
        <% } else { %>
          <p><span class="itemHeader">Equipment Slot:</span> <%= item.equipment_slot %></p>
        <% } %>
        <p><span class="itemHeader">Category:</span> <%= item.catagory %></p>
      <% } else { %>
        <p>No item found</p>
      <% } %>
      <p></p>
      <a href="/items/<%= item.item_id %>/edit">
        <button>Edit</button>
      </a>
      <br>
      <a href="/items/<%= item.item_id %>/delete">
        <button class="delete">Delete</button>
      </a>
    </div>
  </body>
  <%- include('./partials/footer') %>
</html>
